@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@250;400;500;600;700&display=swap");

:root {
  --info: #55acee;
  --danger: #e74c3c;
  --warning: #f39c12;
  --dark: #1b1b1b;
  --light: #f2f6ff;
}

* {
  font-family: "Rubik", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
}

*::selection {
  /* background-color: var(--main-color);
   color:var(--white); */
  display: none;
}

::-webkit-scrollbar {
  /* height: .1rem;
   width: .5rem; */
  display: none;
}

::-webkit-scrollbar-track {
  background-color: none;
}

::-webkit-scrollbar-thumb {
  /* background-color: var(--main-color); */
}

body {
  background-color: var(--light);
  height: 1000px;
}

.border-dark {
  border-color: var(--dark) !important;
}

.text-dark {
  color: var(--dark) !important;
}
.text-info {
  color: var(--info) !important;
}
.text-warning {
  color: var(--warning) !important;
}

.text-danger {
  color: var(--danger) !important;
}

.bg-light {
  background-color: var(--light) !important;
  color: var(--dark) !important;
}

/* navbar */
.navbar {
  transition: all 250ms ease-in-out;
}
.navbar-brand {
  transition: all 250ms ease-in-out;
}
.navbar-brand:hover {
  transform: scale(1.1);
  letter-spacing: 0.1rem;
}

.navbar-toggler,
.navbar-toggler:active,
.navbar-toggler:focus {
  outline: none;
  box-shadow: none;
  border: none;
}
.navbar-toggler #menu-icon {
  font-size: 2rem;
  color: var(--dark) !important;
}

.nav-link {
  color: var(--dark) !important;
  font-weight: 400;
  transition: all 250ms ease-in-out;
}
.nav-link:hover {
  color: var(--info) !important;
  opacity: 0.9;
}
.nav-link:active {
  opacity: 1;
}

/* banner */

.banner {
  margin-top: 7rem;
}
.carousel-item img {
  height: 250px;
}

@media (max-width: 768px) {
  .carousel-item img {
    height: 200px;
  }
}

@media (max-width: 576px) {
  .banner {
    margin-top: 5rem;
  }
  .carousel-item img {
    height: 150px;
  }
}

.carousel-indicators button {
  background-color: var(--dark) !important;
}

/* kategori */
.nav-pills {
  display: flex;
}
.nav-pills .nav-item {
  flex: 1;
}
.nav-pills .nav-item .nav-link {
  color: var(--dark) !important;
  width: 100%;
  font-weight: 500;
  border-radius: 0;
  transition: all 250ms ease-in-out;
}
.nav-pills .nav-item .nav-link.active {
  background-color: var(--dark) !important;
  border-radius: 0;
  color: var(--light) !important;
}

.card {
  height: 315px;
}

.btn.btn-light {
  background-color: var(--light) !important;
  transition: all 250ms ease-in-out;
}

.btn.btn-light:hover {
  background-color: var(--dark) !important;
  color: var(--light) !important;
}
